.burger {
    width: 45px;
    height: 32px;
    background-image: url("../img/burger.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: none;
}

.header {
  padding: 29px 0;
}

.header__container {
  align-items: center;
  justify-content: space-between;
}

  .nav__item {
    font-size: 16px;
    margin-right: 33px;
  }

  .nav__link:hover {
    color: #fc557c;
    border-bottom: 1px #fc557c solid;
  }

  .phone {
    color: #1f1f24;
    font-size: 25px;
    font-weight: 700;
    margin-left: auto;
  }

  .header__btn {
    margin-left: 28px;
  }

  .btn--stroke {
    border: 1px solid #f82370;
  }

  .header__nav-bar {
    max-width: 100px;
  }

.header__nav-container {
  position: relative;
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 40px;
}

.header__nav-burger {
  position: absolute;
  flex-direction: column;
  width: 200px;
  font-size: 25px;
  z-index: 10;
  background-color: #fff;
  border-radius: 1%;
  box-shadow: 0 0 10px 2px rgba(0,0,0,0.1);
}

.burger__item {
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
}

.burger__item:hover {
  color: #fc557c;
  border-bottom: 1px #fc557c solid;
}

.burger__item a:hover {
  color: #fc557c;;
}

.burger label {
  display: block;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.toggle_menu {
  display: none;
}
