.burger {
    width: 45px;
    height: 32px;
    background-image: url("../img/burger.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: none;
}

.header {
  padding: 29px 0;
}

.header__container {
  align-items: center;
  justify-content: space-between;
}

  .nav__item {
    font-size: 16px;
    margin-right: 33px;
  }

  .nav__link:hover {
    color: #fc557c;
    border-bottom: 1px #fc557c solid;
  }

  .phone {
    color: #1f1f24;
    font-size: 25px;
    font-weight: 700;
    margin-left: auto;
  }

  .header__btn {
    margin-left: 28px;
  }

  .btn--stroke {
    border: 1px solid #f82370;
  }

  .header__nav-bar {
    max-width: 100px;
  }
