@media (max-width: 1720px) {

  .fly-tag--hash {
    left: 100px;
    top: 305px;
  }

  .fly-tag--div2 {
    left: 300px;
  }

  .fly-tag--div {
    left: 500px;
  }

}

@media (max-width: 1500px) {
  .fly-tag-ads--hash {
    display: none;
  }
}

@media (max-width: 1350px) {
  .fly-tag-ads--fwdslash,
  .fly-tag-ads--braces {
    display: none;
  }
}

@media (max-width: 1250px) {

  .work-examples__item:nth-child(3) {
    display: none;
  }

  .work-examples__item:nth-child(2) {
    margin-right: 0;
  }

  .upper-section {
    margin: 0 40px;
  }

  .slide-controls {
    margin: 0 0;
    width: 100%;
  }

}

@media (max-width: 1100px) {

  .my-services-container {
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 0;
  }

  .my-services {
    margin-bottom: 80px;
    max-width: 390px;
  }

  .my-services:first-child {
    padding-left: 70px;
  }

  .my-services-container .my-services .my-services__text {
    text-align: center;
  }

  .services-and-prices {
    padding-bottom: 100px;
  }

  .footer-contacts {
    width: 30%;
  }

}

@media (max-width: 1024px) {

  .toggle_menu {
    display: none;
  }

  .nav__list {
    position: absolute;
    flex-direction: column;
    width: 200px;
    left: 40px;
    top: 80px;
    font-size: 25px;
    z-index: 10;
    background-color: #fff;
    border-radius: 1%;
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.1);
  }

  .burger__item {
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
  }

  .burger__item:hover {
    color: #fc557c;
    border-bottom: 1px #fc557c solid;
  }

  .burger__item a:hover {
    color: #fc557c;;
  }

  .fly-tag--braces {
    left: 79px;
    top: 52px;
  }

  .fly-tag--div {
    left: auto;
    right: 65px;
    top: 45px;
  }

  .fly-tag--hash {
    left: 57px;
    top: auto;
    bottom: 73px;
  }

  .fly-tag--div2 {
    display: none;
    left: 360px;
    top: 120px;
  }

  .fly-tag--fwdslash {
    display: block;
    left: 375px;
    top: 120px;
  }

  .fly-tag-ads--braces,
  .fly-tag-ads--fwdslash {
    display: block;
  }

  .fly-tag--closed {
    bottom: 140px;
    left: 358px;
  }

  .fixed-container {
    padding: 0 40px;
  }

  .burger {
    display: block;
  }

  .nav__header {
    position: relative;
  }

  .nav__link {
    background-color: #fff;
    border-bottom: 1px solid #fc557c;
    display: block;
    padding: 20px;
  }

  .about__image {
    margin-right: 0;
    margin-left: 20px;
  }

  .about-info {
    padding-top: 179px;
  }

  .about-info__title {
    font-size: 54px;
    margin-bottom: 45px;
  }

  .about-info__title--sub {
    margin-top: 25px;
  }

  .btn-fill {
    width: 320px;
    height: 68px;
    line-height: 68px;
  }

  /* My services */
  .my-services-container {
    justify-content: center;
  }

  .services-and-prices {
    margin-right: 20px;
  }

  .my-services:nth-child(1) {
    padding-left: 45px;
    padding-right: 20px;
  }

  .my-services:nth-child(1) .my-services__img {
    padding-right: 15px;
  }

  .my-services:nth-child(2) {
    padding-left: 12px;
    padding-right: 10px;
  }

  .my-services:nth-child(3) {
    padding-left: 20px;
  }

  .my-services:nth-child(4) {
    padding-left: 15px;
  }

  .my-services-container {
    margin-bottom: 13px;
  }

  .services-and-prices__btn {
    margin-left: 15px;
  }

  .right-arrow,
  .left-arrow {
    display: none;
  }

  .work-examples {
    margin-bottom: 95px;
  }

  .work-examples__title {
    margin: 93px 0;
  }

  .work-examples__item {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .work-examples__img {
    display: none;
  }

  .swiper-slide .work-examples__img_1024 {
    display: block;
    object-fit: cover;
    max-width: 455px;
    max-height: 360px;
  }

  .work-examples__text {
    margin-top: 20px;
    font-size: 25px;
  }

  .work-examples__text1 {
    display: none;
  }

  .work-examples__text2 {
    display: block;
  }

  .work-examples-nav {
    display: block;
    height: 78px;
    width: 174px;
  }

  .work-examples-nav__list {
    justify-content: space-between;
    padding: 100px 30px 0;
  }

  .work-examples-nav__item {
    background-image: url("../img/ball.png");
    height: 18px;
    width: 18px;
  }

  .active {
    background-image: url("../img/active-ball.png");
  }

  .slide-controls .swiper-button-prev,
  .slide-controls .swiper-button-next {
    display: none;
  }

  body .second-middle-fixed-container
  .wrapper .swiper-pagination-bullet,
  body .second-middle-fixed-container
  .wrapper .swiper-pagination-bullet-active {
    display: block;
    margin: 0 15px;
  }

  .swiper-container .swiper-pagination {
    display: flex;
    justify-content: center;
    position: relative;
    padding-top: 120px;
  }

  .wrapper .btn-fill {
    margin: 90px auto 103px auto;
  }

  /* Секция новостей */
  .fly-tag-ads--hash,
  .fly-tag-ads--braces2 {
    display: none;
  }

  .fly-tag-ads--braces {
    left: 155px;
    top: 24px;
    font-size: 32px;
  }

  .fly-tag-ads--div {
    right: 455px;
    bottom: 28px;
    font-size: 25px;
  }

  .fly-tag-ads--fwdslash {
    top: auto;
    right: 91px;
    bottom: 28px;
  }

  /* Footer */
  .upper-section {
    min-height: 285px;
    padding-top: 12px;
  }

  .footer-nav {
    width: 26.2%;
  }

  .footer-contacts {
    margin-right: 110px;
  }

}

@media (max-width: 1000px) {

  .advertisement {
    margin: auto 20px;
  }

  .advertisement-section__title {
    font-size: 35px;
  }

  .advertisement-section__text {
    font-size: 18px;
  }

  .swiper-wrapper .work-examples__img_1024 {
    max-width: 280px;
  }

  .swiper-container .swiper-pagination {
    padding-top: 50px;
  }

}

@media (max-width: 950px) {

  .fly-tag--fwdslash {
    left: 375px;
    top: 25px;
  }

  .about__image {
    max-width: 300px;
  }

  .about__svg {
    max-width: 400px;
  }

  .about-info {
    padding-top: 100px;
  }

  .btn-fill {
    width: 270px;
    height: 60px;
    line-height: 60px;
  }

  .about-info__title {
    font-size: 45px;
  }

  .about-info__title--sub {
    font-size: 20px;
  }

  .upper-section {
    flex-wrap: wrap;
  }

  .footer-contacts {
    align-items: flex-end;
    margin-right: 0;
  }

  .social {
    text-align: center;
    width: 100%;
  }

  .social__list {
    justify-content: center;
  }

}

@media (max-width: 880px) {

  .my-services:nth-child(n+1),
  .my-services__img,
  .my-services:nth-child(1) .my-services__img {
    padding: 0;
  }

  .work-examples__item:nth-child(2) {
    display: none;
  }

  .work-examples__item:first-child {
    margin-right: 0;
  }

  .work-examples {
    max-height: 650px;
  }

  .upper-section {
    margin: 0 30px;
  }

}

@media (max-width: 768px) {

  .header__container {
    justify-content: space-between;
  }

  .phone {
    margin-left: 0;
  }

  .burger {
    height: 18px;
    width: 24px;
  }

  .nav__list {
    width: 150px;
    font-size: 20px;
    top: 60px;
  }

  .nav__item {
    margin-right: 0;
  }

  .nav__link {
    padding: 15px;
  }

  .fly-tag-ads--braces,
  .fly-tag-ads--fwdslash,
  .fly-tag-ads--div {
    display: none;
  }

  .fly-tag--fwdslash {
    left: 100px;
    top: 0px;
  }

  .fly-tag--div {
    top: 0;
    right: 150px;
  }

  .fly-tag--hash {
    bottom: 400px;
  }

  .fly-tag--closed {
    left: 70px;
    bottom: auto;
    top: 200px;
  }

  .header__btn {
    background: url("../img/phone-mob-icon.png") center no-repeat;
    border: 1px solid #fa0891;
    border-radius: 100%;
    font-size: 0;
    height: 26px;
    margin-left: 0;
    width: 26px;
  }

  .about-info {
    background-color: #fff;
    text-align: center;
    width: 100%;
  }

  .about__container {
    flex-direction: column-reverse;
    align-items: center;
    padding: 0;
  }

  .about__svg {
    bottom: auto;
    top: 0;
    right: 0;
    max-width: none;
  }

  .about__image {
    margin-top: 56px;
  }

}

@media (max-width: 640px) {

  .footer-contacts__email {
    font-size: 20px;
  }

  .work-examples {
    min-height: 695px;
  }

  .headers-my-works {
    font-size: 30px;
  }

  body .second-middle-fixed-container
  .wrapper .swiper-pagination-bullet {
    height: 10px;
    width: 10px;
    margin: 0 8px;
  }

  body .second-middle-fixed-container
  .wrapper .swiper-pagination-bullet-active {
    background-image: url("../img/active-ball-small.png");
  }

  .advertisement-section__title {
    font-size: 28px;
  }

  .advertisement-section__text {
    font-size: 15px;
  }

  .upper-section {
    min-height: 450px;
  }

  .footer-nav__list {
    align-items: center;
  }

  .footer-contacts {
    align-items: center;
  }

  .contact-block__my-phone {
    padding-right: 0;
  }

  .contact-block__my-phone::before {
    background: url('../img/call-answer-mob.png') no-repeat;
    height: 13px;
    width: 13px;
  }

  .footer-contacts__email::before {
    background: url('../img/envelope-mob.png') no-repeat;
    height: 10px;
    width: 14px;
  }

  .social__btn {
    align-items: center;
    background-color: rgb(255, 78, 46);
    color: rgb(255, 255, 255);;
    height: 55px;
    justify-content: center;
    margin-top: 30px;
    width: 280px;
  }

  .footer-contacts {
    width: 100%;
  }

  .upper-section {
    margin: 0 20px;
  }

  .contact-block__my-phone,
  .footer-contacts__email {
    color:  #8993ad;
  }

}

@media (max-width: 576px) {

  .nav__list {
    width: 125px;
    font-size: 15px;
    left: 20px;
  }

  .nav__link {
    padding: 10px;
  }

  .fly-tag--braces {
    font-size: 25px;
    left: 50px;
    top: 20px;
  }

  .fly-tag--div {
    display: none;
  }

  .fly-tag--div2 {
    display: block;
    font-size: 17px;
    left: auto;
    right: 80px;
    top: 59px;
  }

  .fly-tag--fwdslash {
    display: none;
  }

  .fly-tag--hash {
    font-size: 30px;
    bottom: 412px;
    left: 37px;
  }

  .fly-tag--closed {
    font-size: 19px;
    top: 0;
    left: 174px;
  }

  .about__container {
    padding: 0 20px;
    background-image: -moz-linear-gradient( 270deg, #fbfbfb 50%, #fff 0%);
    background-image: -webkit-linear-gradient( 270deg, #fbfbfb 50%, #fff 0%);
    background-image: -ms-linear-gradient( 270deg, #fbfbfb 50%, #fff 0%);
  }

  .container,
  .services-and-prices {
    padding: 0 20px;
  }

  .header__btn {
    margin-left: 0;
  }

  .header {
    padding: 26px 0;
  }

  .phone {
    font-size: 18px;
  }

  .about__svg {
    max-width: none;
    width: 100%;
    right: 0px;
    top: 96px;
    height: 296px;
  }

  .about__image {
    max-width: 230px;
    margin-top: 25px;
    margin-right: -27px;
  }

  .about {
    overflow: initial;
  }

  .about-info {
    padding-top: 10px;
    width: 100%;
  }

  .about-info__title {
    font-size: 30px;
    white-space: initial;
    margin-bottom: 27px;
  }

  .about-info__title--sub {
    font-size: 16px;
    margin-top: 13px;
  }

  .btn-fill {
    width: 100%;
    max-width: 280px;
    line-height: 55px;
    height: 55px;
  }

  .fixed-container {
    padding: 0 20px;
  }

  .contact-block__my-phone::before {
    margin-right: 14px;
  }

  .headers-my-works {
    font-size: 30px;
    margin: 50px auto;
  }

  .my-services {
    margin-bottom: 50px;
  }

  .services-and-prices {
    margin-right: 0;
  }

  .services-and-prices__btn {
    margin: 0 0 50px 0;
  }

}

@media (max-width: 540px) {

  .header {
    padding: 26px 0;
  }

  .about-me__link {
    margin-bottom: 0;
  }

  .header .call-request {
    display: none;
  }

  .contact-block__my-phone::before {
    /* display: none; */
  }

  .contact-block .contact-block__my-phone {
    color: #000;
    font-size: 16px;
    font-weight: bold;
  }

  .my-phone-mob {
    display: block;
    font-weight: bold;
  }

  .call-request-mob {
    background: none;
    border: none;
    display: block;
    padding: 0;
  }

  .header__container .contact-block {
    margin-right: 15px;
  }

  .about-me-fixed-container {
    background: url("../img/bg_all_mob.png") no-repeat center;
    background-size: cover;
    min-height: 390px;
  }

  .about-me-fixed-container .about-me {
    display: none;
  }

  .about-me-fixed-container-mob {
    display: block;
  }

  .about-me {
    align-items: center;
    margin-left: 0;
    min-height: 200px;
  }

  .about-me__text {
    margin-top: 15px;
    text-align: center;
  }

}

@media (max-width: 400px) {

  .popup-call,
  .popup-email {
    width: 250px;
    margin: 15% auto;
    padding: 20px;
  }

  .form__title {
    font-size: 20px;
  }

  .headers-my-works {
    margin: 43px auto;
    text-align: center;
  }

  .my-services-container {
    margin-bottom: 10px;
  }

  .my-services {
    margin-bottom: 36px;
  }

  .my-services__text {
    font-size: 17px;
    margin-top: 5px;
    padding: 0 18px;
  }

  .my-services__img {
    height: 46%;
  }

  .work-examples__img {
    object-fit: cover;
    width: 100%;
  }

  .work-examples__text {
    font-size: 18px;
  }

  .work-examples__text2 {
    display: none;
  }

  .swiper-slide .work-examples__img_1024 {
    display: none;
  }

  .work-examples__img_320,
  .work-examples__text3 {
    display: block;
  }

  .wrapper .btn-fill {
    margin: 40px auto 50px auto;
  }

  .work-examples__link {
    margin-top: 0;
  }

  .footer-nav__list,
  .footer-contacts {
    align-items: flex-start;
  }

  .lower-section__text {
    font-size: 12px;
  }

  .social__list {
    justify-content: flex-start;
  }

}

@media (max-width: 320px) {

  .fly-tag--closed {
    font-size: 19px;
    top: 2px;
    left: 173px;
    transform: rotate(-30deg);
  }

  .fly-tag--hash {
    font-size: 30px;
    bottom: 413px;
    left: 37px;
  }

  .about__image {
    margin-top: 23px;
  }

  .about__svg {
    height: 294px;
  }

  .about-info {
    padding-top: 14px;
  }

  .about-info__title {
    margin-bottom: 25px;
  }

  .about-info__title--sub {
    margin-top: 10px;
    line-height: 22px;
  }

  .btn-fill {
    font-size: 16px;
  }

  .headers-my-works {
    margin: 43px 10px;
  }

  .advertisement {
    padding-top: 50px;
  }

  .advertisement-section__title-desktop {
    display: none;
  }

  .advertisement-section__title-320 {
    display: block;
    line-height: 1.45;
  }

  .advertisement-section__text-container {
    margin-top: 38px;
    margin-bottom: 45px;
  }

  .advertisement-section__text {
    line-height: 1.9;
  }

  /* Подвал сайта */
  .upper-section {
    justify-content: flex-start;
    flex-direction: column;
  }

  .footer-nav {
    width: 100%;
    max-height: 160px;
  }

  .footer-nav__list {
    font-size: 15px;
    padding-top: 38px;
  }

  .footer-nav__item {
    margin-bottom: 15px;
  }

  .footer-contacts {
    max-height: 90px;
  }

  .contact-block__my-phone {
    font-size: 20px;
  }

  .contact-block__my-phone::before {
    margin-right: 21px;
  }

  .footer-contacts__email {
    margin-top: 27px;
  }

  .footer-contacts__email::before {
    vertical-align: middle;
  }

  .footer__btn {
    display: none;
  }

  .footer__btn-320 {
    display: block;
  }

  .social__list {
    margin-top: 35px;
  }

  .lower-section__text {
    padding-bottom: 20px;
  }

}
